<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Symfony{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../../css/screen.css" />
    {% endblock %}
    {% block js %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <h1>{% block titleH1 %}Test de symfony{% endblock %}</h1>

    <ul id="menu" class="nav navbar-inverse">
        <li><a href="#Blog">Accueil</a></li>
        <li><a href="{{  path('delwhite_blog_article_list') }}">Blog</a></li>
        {% block menu %}
        {% endblock %}
    </ul>

    <ul id="menu_left">
        {{ render(controller('delwhiteBlogBundle:Article:listNb', {'nb': 5})) }}
    </ul>

    {% block contenu %}{% endblock %}
</body>
</html>
