{% for enfant in enfants %}
    <li>{{ enfant.nom }} {{ enfant.prenom }}</li>
{% endfor %}


{% for i in 1..nbPage %}
    <a href="{{ path("bureau_etude_adhesion_enfant_index", {'nb': i})}}">{{ i }}</a>
{% endfor %}